
<ion-content padding>
  <ion-slides pager>

    <ion-slide class="slide_image">
      <div>
        <img src="assets/images/slide1.png" alt="">
        <h1>Meu APP - myApp</h1>
        <br>
        <p>
          Este é um APP desenvolvido em um curso de Ionic, que utiliza TypeScript, HTML, Css, AngularJS e muito mais.
        </p>
        <p>
          Meu Primeiro APP - myApp. <strong> Veja Mais </strong>
        </p>
        <a (click)="goToTabPage()">Continuar</a>
      </div>
      
    </ion-slide>

    <ion-slide class="slide_image">
      <div>
        <img src="assets/images/slide2.png" alt="">
        <h1>Ionic</h1>
        <br>
        <p>O Ionic é um framework que permite desenvolvedores criar aplicações móveis de alta qualidade com tecnologias web como HTML, CSS e JavaScript</p>
        <a (click)="goToTabPage()">Continuar</a>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <div>
        <img src="assets/images/slide3.png" alt="">
        <h1>JavaScript</h1>
        <br>
        <p>JavaScript é uma linguagem de programação que permite a você implementar itens complexos em páginas web.</p>
        <a (click)="goToTabPage()">Continuar</a>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <div>
        <img src="assets/images/slide3.png" alt="">
        <h1>Vamos Iniciar o APP</h1>
        <a (click)="goToTabPage()">Continuar</a>  
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>